site_name: Celeste Code Mod 教程
repo_url: https://github.com/Saplonily/CelesteModTutorial
site_description: Celeste Code Mod Tutorial
site_author: Saplonily

theme:
  name: material
  language: zh
  custom_dir: overrides
  logo: assets/images/favicon.png
  features:
    - content.code.copy
    - content.tabs.link

  palette: 
  # Palette toggle for automatic mode
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/brightness-auto
      name: Switch to light mode

  # Palette toggle for light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default 
    toggle:
      icon: material/brightness-7
      name: Switch to dark mode

  # Palette toggle for dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    toggle:
      icon: material/brightness-4
      name: Switch to system preference

extra_css:
  - css/content.css

markdown_extensions:
  - admonition # 警告
  - meta # 元数据
  - attr_list
  - md_in_html
  - def_list # 列表
  - pymdownx.tilde # 下划线
  - pymdownx.tasklist # 列表
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.highlight: # 语法高亮
      pygments_lang_class: true
      linenums: true

nav:
  - 首页: "index.md"
  - 一些准备:
      - 基础环境配置: "coding_setup/basic_env.md"
      - 偏好: "coding_setup/preference.md"
      - 调试: "coding_setup/debug.md"
      - 阅读代码: "coding_setup/code_reading.md"
  - 基础:
      - Celeste, Everest, MonoMod: "basics/celeste_everest_monomod.md"
      - 更多EC: "basics/ec_common.md"
      - Flag, Tag, Tracker: "basics/flag_tag_tracker.md"
      - Session, Settings, SaveData: "basics/session_settings_savedata.md"
  - 进阶:
      - 跨 Mod 交互: "advanced/cross_mod_interactions.md"
  - 实战:
      - 简单自定义实体: "coding_challenges/simple_entity.md"
      - 简单自定义Trigger: "coding_challenges/simple_trigger.md"
      - 简单贴图: "coding_challenges/simple_texturing.md"
  - 钩子:
      - 钩子: "hooks/hook.md"
      - IL: "hooks/il.md"
      - IL 钩子与随意钩取: "hooks/adv_hooks.md"
      - 协程的钩取与私有成员访问: "hooks/adv_hooks2.md"     
  - 组件:
      - Sprite, Image: "components/sprite_image.md"
      - Alarm, Tween, Coroutine: "components/alarm_tween_coroutine.md"  
      - StateMachine: "components/statemachine.md"    
  - 其他:
      - XML简单介绍: "other/xml-speedrun.md"
  - 额外 - LuaCutscene:
      - 开始: "extra_luacs/begin.md"
      - 参考: "extra_luacs/reference.md"
      - C# 交互: "extra_luacs/cs_access.md"
      - 例子: "extra_luacs/examples.md"
      # - 高级对话: "extra_luacs/advanced_dialog.md"
  - 额外 - CMCC:
      - 首页: "extra_cmcc/index.md"
      - readme: "extra_cmcc/cmcc/ReadMe.md"
      - FAQ: "extra_cmcc/cmcc/todo.md"
  - 历史归档:
      - 基础环境配置: "arc/basic_env.md"
      - 偏好-sdk-styled-proj: "arc/sdk-styled-proj.md"
  - 杂项:
      - ChangeLog: "misc/change_log.md"
      - ToDoList: "misc/to_do_list.md"